body { font-family: sans-serif; margin: 20px; }
video { width: 100%; height: 250px; background: #ccc; border: 1px solid #ccc; }
textarea { width: 100%; height: 50px; }
h3 { margin-top: 0px; }
.sub-text { margin-top: 6px; font-size: 12px; }
.row { display: flex; gap: 10px; align-items: flex-start; }
.col { flex: 1; }
.panel {
  margin: 15px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;

  #wsStatus {
    margin-left: 10px;
    color: red;
  }
}
